<appSettings>
  <add key="username" value="cmphayes@gmail.com"/>
  <add key="password" value="szugillojlurkdob"/>
  <add key="emailto" value="cmphayes@gmail.com"/>
  <add key="emailfrom" value="cmphayes@gmail.com"/>
  <add key="host" value="smtp.gmail.com"/>
  <add key="port" value="587"/>
</appSettings>
