@{
    ViewBag.Title = "Home Page";
}



<li>@Html.ActionLink("Login", "Login", "Account", null, new { @class = "nav-link js-scroll-trigger" })</li>
<li>@Html.ActionLink("Register", "Register", "Account", null, new { @class = "nav-link js-scroll-trigger" })</li>

