
@{
    ViewBag.Title = "Lobby";
}

<h2>Lobby</h2>
<li>@Html.ActionLink("Create Household", "Create", "Households", null, new { @class = "btn btn-theme" })</li>
<li>@Html.ActionLink("Go To Profile", "ProfileView", "Account", null, new { @class = "btn btn-theme" })</li>
